.listItem {
    padding: 5px;
    display: flex;
    cursor: pointer;
}
.icon {
    margin: 4px;
    width: 52px;
    height: 52px;
    border: 1px solid #66c5ec;
}
.listItemTitle {
    flex: 1;
}

.facebookIcon{
    margin: 5px;
    width: 40px;
    height: 40px;
    border: 1px solid #66c5ec;
}
.listItem:not(:last-child) {
    border-bottom: 1px solid #66c5ec;
}
.input {
    width: 100%;
}
.formular {
    padding: 16px;
}
.button {
    margin: 16px;
}

.search {
    opacity: 0;
    transition: opacity 500ms;
}

.accordion--open .search {
    opacity: 1;
}